.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-left: 16px;
  padding-right: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  background: var(--card-bg);
  padding: 30px 22px;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.title {
  font-weight: 500;
  font-size: 24px;
}

.icon {
  width: 13px;
  height: 13px;
  display: inline-block;
}

.card:hover .icon {
  animation: rotateIcon 0.8s forwards;
}

@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.description {
  font-weight: 300;
  font-size: 16px;
  max-width: 400px;
  min-height: 92px;
  margin-top: 16px;
}

.stack {
  font-weight: 500;
  font-size: 20px;
  margin-top: 23px;
}

.tech {
  font-weight: 500;
  font-size: 16px;
  color: #9c9c9c;
  margin-top: 4px;
}

@media screen and (max-width: 1440px) {
  .container {
    grid-template-columns: 1fr;
  }

  .description {
    max-width: 586px;
    min-height: 72px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 22px;
  }

  .description {
    max-width: 315px;
    min-height: 140px;
  }
}
