.container {
  width: 100%;
  margin: 25px 0;
}

.marqueeTop,
.marqueeBottom {
  overflow: hidden;
  padding: 12px 0;
  font-weight: 700;
  font-size: 28px;
  display: flex;
  align-items: center;
}

.marqueeTop {
  background: #e3e3e3;
  color: #0f0f0f;
  transform: rotate(-4deg);
}

.marqueeBottom {
  background: #222327;
  color: #fff;
  transform: rotate(4deg);
}

.marqueeTop .marqueeContent span,
.marqueeBottom .marqueeContent span {
  padding-right: 90px;
}

@media screen and (max-width: 1440px) {
  .marqueeTop,
  .marqueeBottom {
    padding: 10px 0;
    font-weight: 700;
    font-size: 24px;
  }

  .marqueeTop .marqueeContent span,
  .marqueeBottom .marqueeContent span {
    padding-right: 70px;
  }
}

@media screen and (max-width: 768px) {
  .marqueeTop,
  .marqueeBottom {
    padding: 8px 0;
    font-weight: 700;
    font-size: 22px;
  }

  .marqueeTop .marqueeContent span,
  .marqueeBottom .marqueeContent span {
    padding-right: 50px;
  }
}
