.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 80px 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.accordion {
  margin: 40px auto;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 768px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 390px;
    padding: 0 14px;
  }
}
