.container {
  max-width: 1440px;
  padding: 0 80px 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accordion {
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .layout {
    max-width: 768px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 390px) {
  .layout {
    max-width: 1440px;
    padding: 0 16px;
  }
}
