.container {
  max-width: 1440px;
  padding: 0 80px 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.accordion {
  margin: 40px auto;
}

@media screen and (max-width: 768px) {
  .layout {
    max-width: 768px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 390px) {
  .layout {
    max-width: 1440px;
    padding: 0 16px;
  }
}
