.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text {
  font-weight: 300;
  font-size: 20px;
}

@media screen and (max-width: 1440px) {
  .text {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .text {
    font-size: 16px;
  }
}
