.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 19px 60px;
  border: none;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  min-width: 313px;
}

.buttonText {
  font-weight: 500;
  font-size: 20px;
  color: var(--button-text);
}

.iconBtn {
  fill: var(--bg);
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.button:hover {
  background: var(--button-hover);
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.button:hover .iconBtn {
  animation: rotateIconBtn 0.8s forwards;
}

@keyframes rotateIconBtn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1440px) {
  .buttonContainer {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .button {
    width: 90%;
    justify-content: center;
  }

  .buttonText {
    font-size: 16px;
  }

  .iconBtn {
    width: 14px;
    height: 14px;
  }
}
