.langSwitcher {
  display: flex;
  gap: 10px;
}

.langSwitcher button {
  padding: 5px 10px;
  border: 1px solid #2cac7e;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.langSwitcher button.active {
  background-color: #2cac7e;
  color: white;
}
