.langSwitcher {
  display: flex;
  gap: 8px;
}

.langSwitcher button {
  padding: 0;
  background-color: transparent;
  color: #9c9c9c;
  border: none;
  font-weight: 500;
  font-size: 20px;
}

.langSwitcher button.active {
  color: var(--text);
}
