.content {
  display: flex;
  align-items: center;
  gap: 49px;
}

.name {
  font-weight: 500;
  font-size: 130px;
  text-transform: uppercase;
}

.description {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  margin-top: 16px;
}

.iconContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: 30px;
}

.iconLocation {
  width: 15px;
  height: 19px;
}

.location {
  font-weight: 300;
  font-size: 20px;
}

.button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 19px 60px;
  border: none;
  border-radius: 8px;
  margin: 50px auto 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.buttonText {
  font-weight: 500;
  font-size: 20px;
  color: var(--button-text);
  min-width: 200px;
}

.iconBtn {
  fill: var(--bg);
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.button:hover {
  background: var(--button-hover);
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.button:hover .iconBtn {
  animation: rotateIconBtn 0.8s forwards;
}

@keyframes rotateIconBtn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.switcherContainer {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 35px;
  margin-top: 35px;
}

@media screen and (max-width: 1440px) {
  .content {
    gap: 25px;
    justify-content: center;
    margin-top: 20px;
  }

  .image {
    width: 76px;
    height: 76px;
  }

  .name {
    font-size: 78px;
  }

  .description {
    font-size: 22px;
    margin-top: 16px;
  }

  .iconContent {
    margin-top: 12px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column-reverse;
    gap: 16px;
  }
  .name {
    font-size: 45px;
  }

  .description {
    font-size: 18px;
  }

  .location {
    font-size: 18px;
  }

  .button {
    width: 100%;
    justify-content: center;
  }

  .buttonText {
    font-size: 16px;
    min-width: 132px;
  }

  .iconBtn {
    width: 14px;
    height: 14px;
  }

  .image {
    width: 107px;
    height: 107px;
  }
}
