.content {
  display: flex;
  align-items: center;
  gap: 49px;
}

.name {
  font-weight: 500;
  font-size: 130px;
  text-transform: uppercase;
}

.description {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  margin-top: 16px;
}

.iconContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: 30px;
}

.iconLocation {
  width: 15px;
  height: 19px;
}

.location {
  font-weight: 300;
  font-size: 20px;
}

.switcherContainer {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 35px;
  margin-top: 35px;
}

@media screen and (max-width: 1440px) {
  .content {
    gap: 25px;
    justify-content: center;
    margin-top: 20px;
  }

  .image {
    width: 76px;
    height: 76px;
  }

  .name {
    font-size: 78px;
  }

  .description {
    font-size: 22px;
    margin-top: 16px;
  }

  .iconContent {
    margin-top: 12px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column-reverse;
    gap: 16px;
  }
  .name {
    font-size: 45px;
  }

  .description {
    font-size: 18px;
  }

  .location {
    font-size: 18px;
  }

  .image {
    width: 107px;
    height: 107px;
  }
}
