.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 59px;
  margin-top: 50px;
}

.item {
  display: flex;
  align-items: center;
  gap: 2px;
}

.icon {
  width: 20px;
  height: 20px;
}

.link {
  font-weight: 500;
  font-size: 20px;
}

@media screen and (max-width: 1440px) {
  .link {
    font-size: 18px;
  }

  .list {
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .list {
    margin-top: 24px;
    flex-direction: column;
    gap: 35px;
  }
}
