:root {
  --bg: #f3f3f3;
  --text: #1c1d22;
  --card-bg: #e3e3e3;
  --button-bg: #1c1d22;
  --button-text: #f3f3f3;
  --button-hover: #393a3a;
}

[data-theme="dark"] {
  --bg: #1c1d22;
  --text: #f3f3f3;
  --card-bg: #222327;
  --button-bg: #f3f3f3;
  --button-text: #1c1d22;
  --button-hover: #e3e3e3;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text);
  margin: 0 auto;
  background: var(--bg);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: var(--text);
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text);
  text-decoration: none;
}

button {
  cursor: pointer;
  background: var(--button-bg);
  color: var(--button-text);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
svg {
  fill: var(--text);
}
